<p>
    <mat-toolbar *ngIf="verificar()">
        <button mat-menu-item class="example-icon" aria-label="Example icon-button with menu icon" 
         routerLink="/vehiculos">
            <mat-icon>sledding</mat-icon>
            <span>Vehiculos</span>
        </button>
        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/propietarios">
            <mat-icon>face</mat-icon>
            <span>Propietarios</span>
        </button>
        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/login" (click)="cerrar()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesiòn</span>
        </button>
        <span class="example-spacer"></span>        
    </mat-toolbar>
</p>
<router-outlet></router-outlet>
<!--padres para navegar hacia sus hijos-->